@font-face {
  font-family: 'Ballerina';
  src: local('Ballerina'), url(../fonts-and-images/ballerina-ezevo.otf);
}

@font-face {
  font-family: 'Fascinate';
  src: local('Fascinate'), url(../fonts-and-images/Fascinate-Regular.ttf);
}

.mainContainer {
    background-color:#c3b9b3;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
} 

.mainContainer h3 {
  position: absolute;
  top: 100px;
  left: 50px; 
  color: black;
  font-size: 20px;
}

.mainContainer h4 {
  position: absolute;
  top: 100px;
  left: 100px; 
  color: black;
  font-family: 'Ballerina';
  font-size: 40px;
}

.mainContainer img {
  min-width: 100%;
  max-width: 100%;
}

.homeLink {
text-decoration: none;
color: black;
font-family: 'Ballerina';
font-size: 40px;
}

.registerLink {
text-decoration: none;
color: black;
margin-top: 35px;
}

.homeLink:hover {
  transition: all 0.3s ease-out;
  font-size: 45px; 
  }