.product-details {
    padding: 4rem;
    background: white;   
}

.details-name {
    text-align: center;
    margin-top: 0;
}

.product-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
  
.card-product-info-details {
    margin-right: 20px;
    text-align: center;
}
  
.card-product-text-details {
    color: #252e48;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    
}